.contactBox {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.contactTitle {
    width: 410px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1em;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
}

form {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 0 30px;
}

form * {
    width: 350px;
    font-size: 1rem;
    margin: 0.7em 0 0.7em 0;
}

form input::placeholder,
form textarea::placeholder {
    color: blue;
    opacity: 0.3;
}

form textarea {
    height: 200px;
    resize: none;
}

form .submit {
    width: 70px;
    align-self: flex-end;
}

input,
textarea {
    border: springgreen solid 0.8px;
    background-color: white;
    color: blue;
}
