.bigBox {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.innerBox img {
    height: auto;
}

.volBox {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volBox .innerBox {
    display: flex;
    justify-content: space-between;
}

.volBox .innerBox:first-child img {
    width: 100%;
    height: auto;
}

.volBox .innerBox:nth-child(2) img {
    margin: 1em 0 0 0;
    width: 30%;
    height: auto;
}

.volBox .innerBox:last-child {
    margin-top: 1em;
    margin-bottom: 3em;
}

.volBox .innerBox:last-child ul {
    font-family: "Kosugi", sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 1em;
}
